/* ======= Common Styles Start ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "mulish";
}
:root {
  --primary: #131318;
  --secondary: #ff5400;
  --navLink: #424247;
  --paragraphColor: #5a5a5d;
  --textColor: rgba(19, 19, 24, 0.7);
  --white: #fff;
  --footerBg: rgba(19, 19, 24, 0.05);
  --headingSize: 40px;
  --paragraphSize: 16px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.heading {
  color: var(--primary);
  font-size: var(--headingSize);
  font-weight: 800;
  text-transform: capitalize;
}
.sub_heading {
  color: var(--primary);
  font-size: 24px;
  font-weight: 800;
  text-transform: capitalize;
}
.paragraph {
  color: var(--paragraphColor);
  font-size: var(--paragraphSize);
  font-weight: 400;
  line-height: 26px;
}
/* ======= Common Styles End ====== */

/* ====== Navbar style start ====== */
.navbar {
  padding: 48px 0;
}
.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.logo_img {
  height: 56px;
  width: 48px;
  overflow: hidden;
}
.logo_text h2 {
  color: var(--primary);
  font-size: 36px;
  font-weight: 800;
  text-transform: capitalize;
}
.logo_text span {
  color: var(--secondary);
}
.menu {
  display: flex;
  align-items: center;
  column-gap: 44px;
}
.menu ul {
  display: flex;
  align-items: center;
  column-gap: 44px;
}
.menu ul li a {
  color: var(--navLink);
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  transition: all ease-out 0.3s;
}
.menu ul li a:hover {
  color: var(--secondary);
}
.bars {
  color: var(--primary);
  font-size: 24px;
  display: none;
}
.common_btn {
  background-color: var(--secondary);
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  padding: 16px 34px;
  outline: none;
  border: 1px solid var(--secondary);
  border-radius: 8px;
  cursor: pointer;
  transition: all linear 0.3s;
}
.common_btn:hover {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--white);
}
/* ====== Navbar Style End ====== */

/* ====== Banner Style Start ====== */
.banner_wrapper {
  background: linear-gradient(#131318, rgba(19, 19, 24, 0)),
    url("../images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 106px 0;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero_title {
  color: var(--white);
  font-size: 64px;
  font-weight: 800;
  text-align: center;
}
.hero_text {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding: 24px 0 48px 0;
}
.banner_form {
  display: flex;
  align-items: center;
  column-gap: 24px;
  row-gap: 24px;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 16px;
  border-radius: 8px;
}
.form_input {
  height: 52px;
  width: 174px;
  padding: 0 16px;
  background-color: var(--white);
  border-radius: 8px;
}
.form_input input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}
/* ====== Banner Style End ====== */

/* ====== Popular Tour Style Start ====== */
.popular_tour {
  padding: 100px 0;
}
.tour_wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 45px;
}
.popularTour_info {
  width: 577px;
}
.popularTour_info p {
  padding: 24px 0;
}
.popularTour_info ul {
  list-style: disc;
}
.popularTour_info ul li {
  padding-bottom: 16px;
}
.popular_img {
  width: 540px;
  height: 550px;
  overflow: hidden;
}
.popular_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* ====== Popular Tour Style End ====== */

/* ====== Destination Style Start ====== */
.destination {
  padding-bottom: 100px;
}
.destination_item1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
  padding-bottom: 24px;
}
.common_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 573px;
  height: 300px;
}
.maldives,
.indonesia,
.srilanka,
.north_america,
.kashmir,
.bangladesh,
.bandarban {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* padding: 132px 226px; */
  border-radius: 16px;
}
.country_name {
  color: var(--white);
  font-size: 28px;
  font-weight: 800;
  line-height: normal;
}
.maldives {
  background-image: url("../images/maldives.png");
}
.indonesia {
  background-image: url("../images/indonesia.png");
}
.srilanka {
  background-image: url("../images/srilanka.png");
  height: 286px;
  width: 374px;
}
.north_america {
  background-image: url("../images/north_america.png");
  height: 286px;
  width: 474px;
}
.kashmir {
  background-image: url("../images/kashmir.png");
  height: 300px;
  width: 473px;
}
.bangladesh {
  background-image: url("../images/bangladesh.png");
  height: 300px;
  width: 473px;
}
.bandarban {
  background-image: url("../images/bandarban.png");
  height: 300px;
  width: 673px;
}

/* ====== Destination Style End ====== */

/* ===== Choose Style Start ===== */
.choose_section {
  padding-bottom: 100px;
}
.choose_info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 24px;
}
.choose_para {
  text-align: center;
  width: 643px;
}
.choose_wrapper {
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.choose_item {
  width: 573px;
  padding: 32px 55px 32px 32px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  border-radius: 16px;
}
.hotels {
  background-color: rgba(251, 180, 99, 0.05);
  border: 1px solid rgba(251, 180, 99, 0.2);
}
.world_service {
  background-color: rgba(41, 205, 246, 0.05);
  border: 1px solid rgba(41, 205, 246, 0.2);
}
.price {
  background-color: rgba(233, 68, 68, 0.05);
  border: 1px solid rgba(233, 68, 68, 0.2);
}
.price_card h4 {
  padding-bottom: 16px;
}
/* ===== Choose Style End ===== */

/* ===== ==Discount Section Style Start ===== */
.discount {
  padding-bottom: 100px;
}
.discount_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  row-gap: 24px;
}
.discount_heading p {
  width: 643px;
}
.discount_wrapper {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.discount_item {
  width: 1170px;
  padding: 56px;
  background-image: url("../images/swimming_pool.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: end;
  justify-content: end;
}
.discount_item2 {
  width: 1170px;
  padding: 56px;
  background-image: url("../images/pool2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: start;
  justify-content: start;
}
.discount_item3 {
  width: 1170px;
  padding: 56px;
  background-image: url("../images/swimming_pool.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: end;
  justify-content: end;
}
.discount_info {
  width: 579px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  padding: 50px;
}
.tour_info {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.tour_day {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
#tour_icon {
  font-size: 24px;
  color: var(--secondary);
}
.tour_detail {
  color: var(--textColor);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.discount_details h3 {
  padding-top: 24px;
}
.discount_details p {
  width: 452px;
}
.cost {
  padding-bottom: 24px;
  color: var(--secondary);
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
}
/* ======= Discount Section Style End ======== */

/* ======== Feedback Style Start ======= */
.feedback {
  padding-bottom: 100px;
  width: 100%;
}
.feedback_wrapper {
  width: 70%;
  margin: 0 auto;
}
.client_info {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.client_img {
  height: 100px;
  width: 100px;
}
.client_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.client_name {
  font-size: 18px;
  color: var(--primary);
  font-weight: 700;
}
.client_profession {
  color: var(--textColor);
  font-size: 14px;
  font-weight: 400;
}
.client_message {
  width: 550px;
}
.client_feedback {
  margin-left: 140px;
}
.rating {
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.rating i {
  color: #f4b316;
}
.rating_navigate button {
  margin-top: 10px;
}
/* ======== Feedback Style 
End ======= */

/* ===== Newsletter style Start ===== */
.newsletter {
  padding-bottom: 100px;
}
.newletter_wrapper {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.newletter_info {
  border: 1px solid var(--secondary);
  padding: 40px;
  border-radius: 16px;
}
.newletter_info p {
  padding-bottom: 24px;
}
.newsletter_form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.newsletter_form {
  border-top: 1px solid rgba(19, 19, 24, 0.1);
  padding-top: 24px;
}
.newsletter_form input {
  padding: 16px 0 16px 20px;
  border-radius: 8px;
  background-color: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  border: none;
  outline: none;
}
/* ===== Newsletter style End ===== */

/* ===== Footer Style Start ===== */
.footer {
  background-color: var(--footerBg);
}
.footer_wrapper {
  padding: 110px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
}
.footer_logo {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.footer_para {
  width: 769px;
  text-align: center;
}
.footer_icons {
  padding-top: 15px;
  display: flex;
  align-items: center;
  column-gap: 32px;
  padding-bottom: 35px;
}
.footer_icons div i {
  font-size: 20px;
  color: var(--primary);
  cursor: pointer;
}
.footer_line {
  width: 872px;
  border: 1px solid rgba(19, 19, 24, 0.1);
}
.copyright {
  padding-top: 35px;
}
.copyright_text {
  color: var(--primary);
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
/* ===== Footer Style End ===== */
